* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: auto 0;
}
.grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(44, 20px);
  grid-template-rows: repeat(29, 20px);
  grid-gap: 0;
  padding: 0;
}
.cell {
  /* border: black 0.5px solid; */
  font-size: 4px;
}
